In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [2]:
df = pd.read_csv('/Users/carina/Downloads/courses/final thesis/precessed data/ex1/numOfwords.csv')
df = df.drop(df.columns[0],axis=1)

In [6]:

heads = df.columns.values.tolist() 
paragraph = df['paragraph'].tolist()
paragraph = np.array(paragraph)

df_amounts = pd.DataFrame()

for index in heads:
    amounts = []
    number = df[index].tolist()
    number = np.array(number)
    for i,j in zip(paragraph,number):
        amount = j- i
        amounts.append(amount)
    #amounts = (amounts - np.mean(amounts)) / np.std(amounts)
    df_amounts[index] = amounts
df_amounts = df_amounts.drop(df_amounts.columns[0],axis=1)

In [8]:
df_amounts.to_csv('/Users/carina/Downloads/courses/final thesis/precessed data/ex1/changednumOfwords_unmorlized.csv')

In [7]:
df_amounts

     rephrase  Grammarly  chatgpt  Wordtune  Quillbot
0          17         -2      -16        -6        -1
1          22        -11       -4       -17         9
2           8          1        2       -21        -9
3          13         -4      -11       -17       -11
4           8         -1      -11       -26        -1
..        ...        ...      ...       ...       ...
475         9         -1       12        -8        -1
476         5         -6       14       -18        -5
477        21        -17      -29       -14        -2
478        14         -8       -6        -6        -1
479         3         -1       16         8         7

[480 rows x 5 columns]